html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    height: 100%;
    font-family: monospace;
    color: #00ff66;
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tux {
    position: absolute;
    width: 120px;
    animation: moveTux 12s linear infinite;
}

@keyframes moveTux {
    0% { top: 10%; left: -150px; }
    50% { top: 60%; left: 110%; }
    100% { top: 10%; left: -150px; }
}

.title {
    position: absolute;
    z-index: 10;
    top: 20px;
    width: 100%;
    text-align: center;
}
